body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* effeck blur() */
.blur {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.blur .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.blur .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.02);
}
.blur .card img {
  width: 200px;
}
.blur .card #img1 {
  filter: blur(6px);
}
.blur .card #img2 {
  filter: blur(4px);
}
.blur .card #img3 {
  filter: blur(0px);
}

/* effeck brightness() */
.brightness {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.brightness .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.brightness .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.brightness .card img {
  width: 100%;
  height: auto;
}
.brightness .card #img1 {
  filter: brightness(150%);
}
.brightness .card #img2 {
  filter: brightness(75%);
}
.brightness .card #img3 {
  filter: brightness(0%);
}

/* effeck contrast() */
.contrast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.contrast .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.contrast .card:hover {
border: 1px solid black;
box-shadow: 0 0 10px black;
transform: scale(1.03);
}
.contrast .card img {
  width: 100%;
  height: auto;
}
.contrast .card #img1 {
  filter: contrast(150%);
}
.contracts .card #img2 {
  filter: contrast(75%);
}
.contracts .card #img3 {
  filter: contrast(0%);
}

/* effect drop-shadow() */
.drop-shadow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.drop-shadow .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.drop-shadow .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.drop-shadow .card img {
  width: 100%;
  height: auto;
}
.drop-shadow .card #img1 {
  filter: drop-shadow(-5px -5px 10px rgb(116, 22, 99));
}
.drop-shadow .card #img2 {
  filter: drop-shadow(8px 8px 8px black);
}
.drop-shadow .card #img3 {
  filter: drop-shadow(0px 5px 5px green);
}

/* effect grayscale() */
.grayscale {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.grayscale .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.grayscale .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.grayscale .card img {
  width: 100%;
  height: auto;
}
.grayscale .card #img1 {
  filter: grayscale(100%);
}
.grayscale .card #img2 {
  filter: grayscale(50%);
}
.grayscale .card #img3 {
  filter: grayscale(0%);
}

/* effeck hue-rotate() */
.hue-rotate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.hue-rotate .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.hue-rotate .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.hue-rotate .card img {
  width: 100%;
  height: auto;
}
.hue-rotate .card #img1 {
  filter: hue-rotate(90deg);
}
.hue-rotate .card #img2 {
  filter: hue-rotate(180deg);
}
.hue-rotate .card #img3 {
  filter: hue-rotate(-90deg);
}

/* effeck invert() */
.invert {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.invert .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.invert .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.invert .card img {
  width: 100%;
  height: auto;
}
.invert .card #img1 {
  filter: invert(100%);
}
.invert .card #img2 {
  filter: invert(50%);
}
.invert .card #img3 {
  filter: invert(0%);
}

/* effeck opacity() */
.opacity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.opacity .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.opacity .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.opacity .card img {
  width: 100%;
  height: auto;
}
.opacity .card #img1 {
  filter: opacity(100%);
}
.opacity .card #img2 {
  filter: opacity(50%);
}
.opacity .card #img3 {
  filter: opacity(0%);
}

/* effect saturate() */
.saturate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.saturate .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.saturate .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.saturate .card img {
  width: 100%;
  height: auto;
}
.saturate .card #img1 {
  filter: saturate(200%);
}
.saturate .card #img2 {
  filter: saturate(50%);
}
.saturate .card #img3 {
  filter: saturate(0%);
}

/* effeck sepia() */
.sepia {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.sepia .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.sepia .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.sepia .card img {
  width: 100%;
  height: auto;
}
.sepia .card #img1 {
  filter: sepia(100%);
}
.sepia .card #img2 {
  filter: sepia(50%);
}
.sepia .card #img3 {
  filter: sepia(0%);
}