body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* effeck blur() */
.blur {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.blur .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.blur .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.02);
}
.blur .card img {
  width: 200px;
}
.blur .card #img1 {
  filter: blur(6px);
}
.blur .card #img2 {
  filter: blur(4px);
}
.blur .card #img3 {
  filter: blur();
}

/* effeck brightness() */
.brightness {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.brightness .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.brightness .card:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
.brightness .card img {
  width: 100%;
  height: auto;
}
.brightness .card #img1 {
  filter: brightness(150%);
}
.brightness .card #img2 {
  filter: brightness(75%);
}
.brightness .card #img3 {
  filter: brightness();
}

/* effeck contrast() */
.contrast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}
.contrast .card {
  border: 1px solid silver;
  transition: 0.5s ease;
}
.contrast .card:hover {
border: 1px solid black;
box-shadow: 0 0 10px black;
transform: scale(1.03);
}
.contrast .card img {
  width: 100%;
  height: auto;
}
.contrast .card #img1 {
  filter: contrast(150%);
}
.contracts .card #img2 {
  filter: contrast(75%);
}
.contracts .card #img3 {
  filter: contrast();
}