body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* tooltip dasar */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dotted black;
}
.tooltip .text {
  /* Menyembunyikan tooltip secara default */
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  /* Mengatur z-index agar tooltip muncul di atas elemen lain */
  z-index: 1;
}
/* Selektor untuk menampilkan tooltip saat hover pada elemen tooltip */
.tooltip:hover .text {
  /* Menampilkan tooltip saat hover */
  visibility: visible;
}

/* position tooltip */
/* tooltip right block */
.right {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.right .tooltipText {
  position: absolute;
  visibility: hidden;
  width: 300px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 115%;
}
.right:hover .tooltipText {
  visibility: visible;
}