body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* circle */
.circle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px;
    place-items: center;
    text-align: center;
}
.circle .full {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 270px;
    width: 220px;
    transition: 0.5s ease;
}
.circle .full:hover {
    box-shadow: 0 0 10px black;
}
.circle .full img{
    width: 200px;
    height: auto;
}
.circle .full #img1 {
    clip-path: circle(50%);
}
.circle .full #img2 {
    clip-path: circle(50% at right);
}

/* shape-outside and circle() */
.shape-outside {
    border: 1px solid #000000;
    padding: 10px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}
.shape-outside img {
    width: 200px;
    height: 200px;
    float: left;
    clip-path: circle(40%);
    shape-outside: circle(45%);
}

/* fungsi clip-path dan ellipse() */
/* Bagian ellipse */
/* Layout grid untuk kartu dengan bentuk ellipse dan teks yang terpusat */
.ellipse {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  text-align: center;
}

/* Styling kartu */
/* Kartu diberi border dan sudut membulat */
.ellipse .card {
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Styling gambar di dalam kartu */
/* Hanya sudut bagian atas gambar yang melengkung */
.ellipse .card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}