body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* image rounded */
/* menggunakan border radius */
.bulat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 10px;
    place-items: center;
}
.bulat1 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 0 20px burlywood, 0 0 20px black;
}
.bulat2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px burlywood, 0 0 20px black;
}