body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* image rounded */
/* menggunakan border radius */
.bulat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
}
.bulat1 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 20px burlywood, 0 0 20px black;
}
.bulat2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 20px burlywood, 0 0 20px black;
}

/* thumbnail image */
/* menggunakan border */
.thumbnail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 20px;
  place-items: center;
}
.thumbnail1 {
  width: 300px;
  height: auto;
  border: 2px solid maroon;
  padding: 5px;
}
.thumbnail2 {
  width: 300px;
  height: auto;
  border: 2px solid rgba(128, 0, 0, 0.3);
  padding: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}
.thumbnail2:hover {
  border: 2px solid rgba(128, 0, 0, 1);
  transform: scale(1.02);
}

/* responsive image */
.responsive {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

/* image / card polaroid */
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
}
.card .polaroid {
  border: 1px solid rgba(128, 0, 0, 0.3);
  padding: 10px;
  box-shadow: 0 0 10px rgba(128, 77, 0, 0.5);
  text-align: center;
  cursor: pointer;
  transition: 300ms ease;
}
.card .polaroid:hover {
  border: 1px solid rgba(128, 0, 0, 1);
  box-shadow: 0 0 10px rgba(128, 77, 0, 1);
}
.card .polaroid img {
  width: 240px;
  height: auto;
}

/* opacity image */
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
}
.card .opacity {
  border: 1px solid rgba(128, 0, 0, 0.3);
  padding: 10px;
  box-shadow: 0 0 10px rgba(128, 77, 0, 0.5);
  text-align: center;
  cursor: pointer;
  transition: 300ms ease;
}
.card .opacity:hover {
  border: 1px solid rgba(128, 0, 0, 1);
  box-shadow: 0 0 10px rgba(128, 77, 0, 1);
}
.card .opacity img {
  width: 240px;
  height: auto;
}
.card .opacity .one {
  opacity: 0.2;
}
.card .opacity .two {
  opacity: 0.5;
}
.card .opacity .three {
  opacity: 1;
}

/* position teks pada gambar */
.position {
  position: relative;
  font-weight: bold;
}
.position img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}
.position .topLeft {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.position .topRight {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.position .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.position .bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.position .bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

/* image overlay */
.fadeIn-text {
    position: relative;
    width: 40%;
}
.fadeIn-text .image {
    width: 200px;
    height: auto;
    display: block;
}
.fadeIn-text .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: silver;
}
.fadeIn-text:hover .overlay {
    opacity: 1;
}
.fadeIn-text .overlay .text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}